.cart-card{
    .card-list{
        list-style-type: none;
        padding: 0;
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 60%;
            margin: 0 auto;
            text-align: center;
          }
          
          td {
            border: 1px solid #dddddd;
            padding: 20px;
          }

          th {
            border: 1px solid #dddddd;
            text-align: center;
            font-weight: 700;
            padding: 20px;
            background-color: #2596be;
            color: #fff;
          }
          
          tr:nth-child(even) {
            background-color: #dddddd;
          }
    }
}