.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
  .res-heading {
    font-size: 28px;
    font-weight: 700;
    color: #2596be;
    font-family: "Poppins", sans-serif;
    margin-top: -20px;
  }
  .menu-card-info {
    width: 1000px;
    height: 180px;
    border: 1px solid #2596be;
    box-shadow: 0px 0px 5px #2596be;
    display: flex;
    border-radius: 15px;
  }
  .menu-card-img {
    img {
      width: 180px;
      height: 160px;
      border-radius: 20px;
      padding: 10px;
    }
  }
  .menu-card-name {
    width: 80%;
    margin-left: 20px;
    .type-icons {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 25px;
        height: 25px;
      }
    }

    h3 {
      color: #2596be;
      font-family: "Poppins", sans-serif;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: rgba(40, 44, 63, 0.75);
      font-family: "Noto Sans", sans-serif;
    }
    .menu-card-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 25px;
      margin-top: 25px;
      font-family: "Noto Sans", sans-serif;
      p {
      }
      .btn {
        width: 100px;
        height: 40px;
        background-color: #fff;
        border: 3px solid #2596be;
        border-radius: 15px;
        font-weight: 600;
        color: rgba(40, 44, 63, 0.75);
        font-family: "Noto Sans", sans-serif;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .minus-btn{
            width: 30px;
            background-color: #2596be;
            height: 40px;
            color: #fff;
            border-radius: 10px 0px 0px 10px;
        }
        .add-btn{
            width: 30px;
            background-color: #2596be;
            height: 40px;
            color: #fff;
            border-radius: 0px 10px 10px 0px;
        }
        .ItemsNumber{
            width: 40px;
            text-align: center;
        }
      }
    }
  }
}
